/* Global styles */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --brand-green: #386641;
    --secondary-green: #6A994E;
    --secondary-black: #262A2C;
    --secondary-grey: #696969;
    --white: #fff
}
html{
    font-size: 62.5%;
    font-family: 'Epilogue', sans-serif;
    font-family: 'Playfair Display', serif;
}
a {
    text-decoration: none;
}
/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1111px;
    margin-top: 2.5rem;
}
/* Header logo styles */
.header--logo {
    height: 6.2rem;
    width: 17rem;
}
.header--logo img {
    max-width: fit-content;
    max-height: fit-content;
}
/* Header menu styles */
.header--menu a {
    margin-right: 50px;
    color: var(--brand-green);
    font-family: "Epilogue", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
}
.menu-button {
    background-color: var(--brand-green);
    width: 170px;
    height: 46px;
    border-radius: 50px;
    cursor: pointer;
}
.menu-button a{
    color: var(--white);
    margin: 0;
}
/* Main styles */
    /* 1st section styles */
main {
    width: 100%;
    height: auto;
}
.main--text-img-card {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 48px;
}
.main--text {
    display: flex;
    flex-direction: column;
    max-width: 54rem;
    height: 38rem;
    margin-right: 40px;
    padding-right: 40px;
}
.main--text h3 {
    font-size: 4.8rem;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-style: italic;
    color: var(--secondary-green);
    margin: 24px 0;
}
.main--text p {
    font-size: 1.8rem;
    font-weight: 400;
    font-family: 'Epilogue', sans-serif;
    line-height: 30px;
    margin: 24px 0;
    color: var(--secondary-grey);
}
.main--img {
    position: relative;
    width: 71.3rem;
    height: 56rem;
    border: 5px solid var(--secondary-green);
    border-radius: 16px;
    border-right: none;
}
.img-background {
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 68.8rem;
    height: 56rem;
    background-image: url('../assets/images/BGImage.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
    /* 2nd section styles */
.main--cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 75px 10% 0;
    position: relative;
    margin: 0;
}
.card-text p {
    font-size: 1.8rem;
    font-family: 'Epilogue', sans-serif;
    font-weight: 600;
    margin-bottom: 12px;
    color: var(--brand-green);
}
.card-text h3 {
    font-size: 3.6rem;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 12px;
    color: var(--secondary-green);
}
.main-card {
    display: flex;
    width: 100%;
}
.card-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 540px;
    gap: 50px;
    margin: 30px 0;
    width: 100%;
}
.card-images div{
    width: 100%;
    height: 100%;
    background-color: #696969;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}
.float-card-images {
    grid-auto-rows: 318px;
}
.float-card-images div:nth-child(1) {
    background-image: url(../assets/images/Card1.png);
}
.float-card-images div:nth-child(2) {
    background-image: url(../assets/images/Card2.png);
}
.main-card-images div:nth-child(1) {
    background-image: url(../assets/images/Card3.png);
}
.main-card-images div:nth-child(2) {
    background-image: url(../assets/images/Card4.png);
}
.float-card {
    position: absolute;
    width: 80%;
    margin: 0 auto;
    padding: 30px 60px;
    border-radius: 20px;
    top: -35px;
    background-color: var(--white);
    box-shadow: 0 0 15px  var(--secondary-grey);
}
.card {
    margin-top: 500px;
}
.image-text {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 35px;
}
.image-text p {
    font-size: 26px;
    font-weight: 400;
    font-style: italic;
    font-family: 'Playfair Display', serif;
    color: var(--white);
}